<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=P, initial-scale=1.0">
    <title>Productos</title>
        <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
</head>
<body>
    <ul class="nav nav-fills nav-fill bg-dark p-2">
        <li class="nav-item">
            <a href="/formulario" class="nav-link text-white">Formulario</a>
        </li>
            <li class="nav-item">
            <a href="/productos" class="nav-link text-white">Productos</a>
        </li>
    </ul>
    {{{body}}}

</body>
</html>