html
    head 
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
        rel="stylesheet")

    body
    ul(class="nav nav-fills nav-fill bg-info p-3")
        li(class="nav-item")
            a(href="/formulario" class="nav-link text-white" ) Formulario
                li(class="nav-item")
                    a(href="/productos" class="nav-link text-white") Productos
                div(class="container")
                table(class="table table")
                    thead
                        tr
                            th Nombre
                            th Precio
                            th Imagen
                    tbody
                            each pr in data
                                tr
                                    td= pr.title
                                    td= pr.price
                                    td
                                        img(src=pr.thumbnail width=100 height=100)